<div class="container py-4">
  <form *ngIf="!product !== null">
    <div class="form-group">
      <label for="product.title">Title:</label>
      <input
        class="form-control"
        type="text"
        name="product.title"
        [(ngModel)]="product.title"
        placeholder="title"
      />
    </div>
    <div class="form-group">
      <label for="product.description">Description:</label>
      <input
        class="form-control"
        type="text"
        name="product.description"
        [(ngModel)]="product.description"
        placeholder="description"
      />
    </div>
    <div class="form-group">
      <label for="product.imageUrl">Image-Url:</label>
      <input
        class="form-control"
        type="text"
        name="product.imageUrl"
        placeholder="image-url"
        [(ngModel)]="product.imageUrl"
      />
    </div>
    <div class="form-group">
      <label for="product.isAvailable">Is Product Available:</label>
      <input
        class="form-control"
        type="checkbox"
        name="product.isAvailable"
        [(ngModel)]="product.isAvailable"
      />
    </div>
    <div class="form-group">
      <label for="product.price">Product Price:</label>
      <input
        class="form-control"
        type="number"
        name="product.price"
        [(ngModel)]="product.price"
      />
    </div>
    <div class="form-group">
      <label for="product.ownerName">Product Owner:</label>
      <input class="form-control" readonly type="text" value="admin" />
    </div>

    <button class="btn btn-success" type="submit" (click)="addProduct()">
      add
    </button>
  </form>
</div>
